@import url("https://fonts.googleapis.com/css?family=Saira:400,500,600");
body, html, ul, li, h1, h2, h3, h4, h5, h6 { padding: 0; margin: 0; }

ul, li { list-style: none; }

a { color: #008cd4; }

body { font-family: 'Saira', Arial, sans-serif; max-width: none; background-color: #f7f7f7; }

form { margin-top: 5px; flex-grow: 1; display: flex; justify-content: space-between; }
form input[type="text"], form textarea { min-height: 40px; border: 1px solid #aaa; flex: 1; }
form select { font-size: 12px; height: 40px; padding: 0 0 0 8px; border-radius: 0; border-width: 1px; }
form select option:hover { background: #000; }
form .form-group { margin: 0; }
#partner-breeder form, #partner-editor form { margin-top: 0; flex-direction: column; }

input[type="text"] { padding-left: 5px; }

#partners { max-width: 1500px; }

.partner-profile { margin-bottom: 30px; }

.btn { background: #f7f7f7; background: -moz-linear-gradient(top, #f7f7f7 0%, #dcdcdc 100%); background: -webkit-linear-gradient(top, #f7f7f7 0%, #dcdcdc 100%); background: linear-gradient(to bottom, #f7f7f7 0%, #dcdcdc 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gcolor1', endColorstr='$gcolor2',GradientType=0 ); border-radius: 0; }
.btn.btn-sign { font-size: 17px; font-weight: 400; color: #aaa; line-height: .5em; padding: 6px 7px 10px; border: 1px solid #dcdcdc; }
.btn.btn-sign:hover { color: #555; }
.btn.btn-sign.lowered-sign { font-size: 12px; padding: 9px 7px; }
.btn.btn-sign.pushed { color: #555; background: #eee; background: -moz-linear-gradient(top, #eee 0%, #fff 100%); background: -webkit-linear-gradient(top, #eee 0%, #fff 100%); background: linear-gradient(to bottom, #eee 0%, #fff 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gcolor1', endColorstr='$gcolor2',GradientType=0 ); box-shadow: 0 2px 2px rgba(0, 0, 0, 0.125) inset; }
.btn.btn-default { color: #aaa; padding: 3px 10px; }
.btn.btn-default:hover { color: #000; background-position: 0 0; }
.btn.btn-default .btn-text { display: none; }

.btn-icon :before { margin-right: 5px; display: inline-block; }
.btn-icon.back:before { content: '<-'; }
.btn-icon + .btn-text { margin-left: 5px; }

.container .jumbotron { border-radius: 3px; }

.main > .header { max-height: 340px; margin: 15px 0 10px; overflow: hidden; position: relative; background: #2f2f2f url("../img/john-towner-128480.jpg") no-repeat center; background-size: 100% auto; background-blend-mode: lighten; }
.header img { max-width: 150%; position: absolute; top: -80px; left: -20px; }
.header h1 { font-size: 40px; font-weight: 500; color: #fff; padding: 10px 10px 0; margin: 0; position: relative; float: left; }
.header .btn-group { margin: 0 20px; }
.header .btn-group:before, .header .btn-group:after { content: ""; width: 3px; height: 26px; border: 1px solid #aaa; display: inline-block; vertical-align: middle; }
.header .btn-group:before { margin-right: 3px; border-right: 0; }
.header .btn-group:after { margin-left: 3px; border-left: 0; }

.sections { position: relative; display: flex; flex-wrap: wrap; }
.sections > a.btn:first-child { position: absolute; top: -49px; left: 2px; }

.section { flex-grow: 1; }
.section > .header { padding-bottom: 10px; margin: 20px 0 15px; border-bottom: 1px solid #ccc; position: relative; display: flex; align-items: center; }
.section > .header .date { font-size: 16px; color: #fff; position: absolute; right: 10px; top: -45px; text-align: right; flex-grow: 1; }
.section .btn-group { position: relative; }
.section .btn-group > .btn { float: none; }
.section .btn-group > .btn:active { background-color: #f7f7f7; }
.section .btn-group .btn + .btn { margin-left: 3px; }
.section.section-partners { margin-bottom: 30px; }

.form-components { padding: 10px 10px 15px; background-color: #eee; }
.form-components.filter-components { margin-bottom: 20px; }
.form-components h4 { line-height: 1em; padding: 0 0 8px 0; margin: 0 0 12px; border-bottom: 1px solid #aaa; }

.partners-lists { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: baseline; }

.partners ul { display: flex; flex-wrap: wrap; justify-content: space-evenly; flex-basis: 100%; }
.partners ul > li.list-separator { font-size: 16px; color: #fff; width: 100%; padding: 5px 0 5px 10px; margin-bottom: 10px; background: #000; }
.partners ul > li:hover { cursor: pointer; }
.partners ul.partners-recent li.list-separator { background: #298bb5; }
.partners ul.partners-progress li.list-separator { background: #e82; }
.partners ul.partners-production li.list-separator { background: #183; }
.partners ul + ul { margin-top: 20px; }

.partner-badge { margin: 0 auto 15px; background-color: #DDD; border-radius: 2px; display: flex; flex: 0 1 90%; position: relative; }
.partner-badge .btn-group { position: absolute; top: -5px; right: 5px; }
.partner-badge a.partner-confluence { text-indent: -999em; width: 25px; height: 24px; background: url(https://developer.atlassian.com/imgs/confluence.png) no-repeat; background-size: 85%; background-position: 2px 3px; border: 1px solid transparent; position: absolute; bottom: 5px; right: 8px; }
.partner-badge a.partner-confluence:hover { background-color: #eee; border-color: #aaa; }

.partner-header { padding-top: 20px; display: flex; flex-direction: column; flex-grow: 1; }

.partner-logo { text-align: center; width: 90%; padding: 10px; align-self: center; flex: 4; display: flex; justify-content: center; }
.partner-logo img { font-size: 25px; font-weight: 600; color: #bbb; text-shadow: -1px -1px 0 #999, 1px 1px 0 #fff; line-height: .8em; width: auto; max-width: 100%; max-height: 45px; align-self: center; }

.partner-id { font-size: 10px; padding: 2px 10px; margin-top: 10px; flex: 1; display: flex; justify-content: center; align-items: flex-end; }

.partner-type { font-size: 10px; color: #fff; padding: 2px 10px 1px; margin-left: -10px; background-color: #014065; border-radius: 2px; position: absolute; top: 5px; left: 5px; }
.partner-type.IAP { background: #732673; }

.versions, .jiratickets, .urlsprep, .urlsprod { list-style-type: none; margin: 0; vertical-align: middle; display: flex; flex-wrap: wrap; }

.version, .ticket, .urlprep, .urlprod { margin: 0 0 5px; background-color: #e9e9e9; border: 1px solid #fff; flex-basis: 100%; display: flex; flex-grow: 1; }
.version a.btn-sign, .ticket a.btn-sign, .urlprep a.btn-sign, .urlprod a.btn-sign { margin: 0; flex-grow: 0; display: flex; align-items: center; }
.version form, .ticket form, .urlprep form, .urlprod form { flex-wrap: wrap; margin: 0; }
.version a, .ticket a, .urlprep a, .urlprod a { font-size: 14px; text-decoration: none; flex-grow: 1; display: flex; justify-content: space-between; }
.version a > *, .ticket a > *, .urlprep a > *, .urlprod a > * { padding: 5px 8px; display: flex; align-items: center; }

.version, .ticket { min-height: 40px; }

.version:hover { background-color: #fff; border: 1px solid #ddd; }
.version:hover .version-comment { color: #222; }
.version form .vdate { width: 0; flex-grow: 1; flex-shrink: 0; flex-basis: 95px; }
.version form .vstatus { width: 0; flex-grow: 1; flex-shrink: 1; flex-basis: 20%; }
.version form .vurl { flex-grow: 2; flex-shrink: 1; flex-basis: 60%; }
.version form .vcomment { flex-grow: 4; flex-shrink: 1; flex-basis: 75%; }

.version-date { width: 95px; color: #000; line-height: 1em; flex-shrink: 0; }

.version-status, .jira-status { font-size: 11px; font-weight: bold; color: #FFF; width: 45px; background-color: #000; }

.version-status.ok { background-color: #183; }
.version-status.ok:before { content: "OK"; }
.version-status.ok.old { background-color: #040; }
.version-status.nok { background-color: #911; }
.version-status.nok:before { content: "NOK"; }
.version-status.wip { background-color: #e82; }
.version-status.wip:before { content: "WIP"; }

.jira-status.pending { background-color: #298bb5; }
.jira-status.pending:before { content: "PENDING"; }
.jira-status.wip { background-color: #e82; }
.jira-status.wip:before { content: "WIP"; }
.jira-status.ready { background-color: #183; }
.jira-status.ready:before { content: "READY"; }
.jira-status.closed { background-color: #666; }
.jira-status.closed:before { content: "CLOSED"; }

.version-comment, .jira-desc, .url { font-size: 10px; color: #679; background-color: rgba(0, 0, 0, 0.04); border-left: 1px solid #fff; flex-grow: 1; flex-shrink: 1; }

.ticket .jira-number { flex: 0 0 90px; }
.ticket .jira-status { flex: 0 0 65px; }
.ticket:hover { background-color: #fff; border: 1px solid #ddd; }
.ticket:hover .jira-desc { color: #222; }
.ticket form .jiranum { width: 0; flex: 0 0 90px; }
.ticket form .jirastatus { width: 0; flex: 1 0 50px; }
.ticket form .jiradesc { flex: 2 1 75%; }

.urlprep .product, .urlprod .product { flex-basis: 120px; }
.urlprep .country, .urlprod .country { flex: 0 0 40px; }
.urlprep .url, .urlprod .url { flex: 1 1 70%; }
.urlprep:hover, .urlprod:hover { background-color: #fff; border: 1px solid #ddd; }
.urlprep:hover .url, .urlprod:hover .url { color: #222; }
.urlprep form .country, .urlprod form .country { width: 0; }

@media (min-width: 425px) { .section > .header .date { color: #333; position: relative; top: auto; } }
@media (min-width: 600px) { .form-components { padding: 10px 20px 15px; display: flex; }
  .form-components h4 { padding: 10px 20px 10px 0; margin: 5px 20px 0 0; border-bottom: none; border-right: 1px solid #aaa; }
  .form-components form { flex: 4; }
  .header img { max-width: 130%; top: -140px; left: 0; }
  .partners ul.partners-recent, .partners ul.partners-progress { flex: 0 0 49%; }
  .partner-badge { flex: 0 1 47%; }
  .partners ul.partners-recent .partner-badge, .partners ul.partners-progress .partner-badge { flex: 0 0 98%; } }
@media (min-width: 768px) { .btn.btn-default .btn-text { display: inline-block; }
  .sections { justify-content: space-between; }
  .section:not(.section-row) { width: 48%; }
  .section:not(.section-row):nth-child(even) { margin-right: 20px; }
  .header img { max-width: 130%; top: -200px; }
  .partner-badge { flex-basis: 30%; }
  .version-status, .jira-status { font-size: 0; max-width: 0; transition: all .2s ease-in-out; }
  .version:hover .version-status { font-size: 11px; max-width: 45px; }
  .ticket:hover .jira-status { font-size: 11px; max-width: 65px; } }
@media (min-width: 992px) { .header img { max-width: 130%; top: -300px; }
  .partner-badge { flex-basis: 22%; }
  .partners ul.partners-recent .partner-badge, .partners ul.partners-progress .partner-badge { flex: 0 0 47%; } }
@media (min-width: 1200px) { .header img { max-width: 110%; top: -300px; } }
@media (min-width: 1400px) { .partner-badge { flex-basis: 18%; } }

/*# sourceMappingURL=App.css.map */
