@import url('https://fonts.googleapis.com/css?family=Saira:400,500,600');

// Mixins \\
@mixin grad-gen($gcolor1, $gcolor2) {
  background: $gcolor1;
  background: -moz-linear-gradient(top, $gcolor1 0%, $gcolor2 100%);
  background: -webkit-linear-gradient(top, $gcolor1 0%,$gcolor2 100%);
  background: linear-gradient(to bottom, $gcolor1 0%,$gcolor2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gcolor1', endColorstr='$gcolor2',GradientType=0 );
}

// Vars \\
$badgeImg : '../img/john-towner-128480.jpg';

// Resets \\
body, html, ul, li, h1, h2, h3, h4, h5, h6 { padding: 0; margin: 0;}
ul, li { list-style: none;}

body { font-family: 'Saira', Arial, sans-serif; max-width: none; background-color: #f7f7f7;}
form { margin-top: 5px; flex-grow: 1; display: flex; justify-content: space-between;
  input[type="text"], textarea { min-height: 40px; border: 1px solid #aaa; flex: 1;}
  select { font-size: 12px; height: 40px; padding: 0 0 0 8px; border-radius: 0; border-width: 1px;
    option {
      &:hover { background: #000;}
    }
  }
  .form-group { margin: 0;}
  #partner-breeder & { margin-top: 0; flex-direction: column;}
}
input[type="text"]{ padding-left: 5px;}

#partners { max-width: 1500px;}

.btn { @include grad-gen(#f7f7f7,#dcdcdc); border-radius: 0;
  &.btn-sign { font-size: 17px; font-weight: 400; color: #aaa; line-height: .5em; padding: 6px 7px 10px; border: 1px solid #dcdcdc;
    &:hover { color: #555;}
    &.lowered-sign { font-size: 12px; padding: 9px 7px;}
    &.pushed { color: #555; @include grad-gen(#eee,#fff); box-shadow: 0 2px 2px rgba(0,0,0,.125) inset;}
  }
}

.container .jumbotron { border-radius: 3px;}
.header {
  .main>& { max-height: 340px; margin: 15px 0 10px; overflow: hidden; position: relative; background: #2f2f2f url($badgeImg) no-repeat center; background-size: 100% auto; background-blend-mode: lighten;}
  img { max-width: 150%; position: absolute; top: -80px; left: -20px;}
  h1 { font-size: 40px; font-weight: 500; color: #fff; padding: 10px 10px 0; margin: 0; position: relative; float: left;}
  .btn-group { margin: 0 20px;
    &:before, &:after { content: ""; width: 3px; height: 26px; border: 1px solid #aaa; display: inline-block; vertical-align: middle;}
    &:before { margin-right: 3px; border-right: 0;}
    &:after { margin-left: 3px; border-left: 0;}
  }
}

.section {
  >.header { margin: 20px 0 15px; display: flex; align-items: center;}
  .btn-group { position: relative;
    >.btn { float: none;}
    .btn+.btn { margin-left: 3px;}
  }
}

.form-components { padding: 10px 10px 15px; background-color: #eee;
  &.filter-components { margin-bottom: 20px;}
  h4 { line-height: 1em; padding: 0 0 8px 0; margin: 0 0 12px; border-bottom: 1px solid #aaa;}
}


.partners  > ul { display: flex; flex-wrap: wrap; justify-content: space-evenly;
   > li:hover { cursor: pointer;}
}
.partner-badge { margin: 0 auto 10px; background-color: #DDD; border-radius: 2px; display: flex; flex: 0 1 90%; position: relative;
  & .btn-group { position: absolute; top: -5px; right: 5px;}
}
.partner-header { padding-top: 20px; display: flex; flex-direction: column; flex-grow: 1;}
.partner-logo { text-align: center; width: 90%; padding: 10px; align-self: center; flex: 4; display: flex; justify-content: center;
  img { font-size: 25px; font-weight: 600; color: #bbb; text-shadow: -1px -1px 0 #999, 1px 1px 0 #fff; line-height: .8em;
        width: auto; max-width: 100%; max-height: 45px; align-self: center;}
}
.partner-id { font-size: 10px; padding: 2px 10px; margin-top: 10px; flex: 1; display: flex; justify-content: center; align-items: flex-end;}
.partner-type { font-size: 10px; color: #fff; padding: 2px 10px 1px; margin-left: -10px; background-color: #732673; border-radius: 2px; position: absolute; top: 5px; left: 5px;}

.versions { list-style-type: none; margin: 0; vertical-align: middle; display: flex; flex-wrap: wrap;}
.version { min-height: 40px; margin: 0 10px 5px; background-color: #e9e9e9; border: 1px solid #fff; flex-basis: 100%; display: flex; flex-grow: 1;
  &:hover { background-color: #fff; border: 1px solid #ddd;
    .version-comment { color: #222;}
  }
  a.btn-sign { margin: 0; flex-grow: 0; display: flex; align-items: center;}
  form { flex-wrap: wrap; margin: 0;
    .vdate { width: 0; flex-grow: 1; flex-shrink: 0; flex-basis: 95px;}
    .vstatus { width: 0; flex-grow: 1; flex-shrink: 1; flex-basis: 20%;}
    .vurl { flex-grow: 2; flex-shrink: 1; flex-basis: 60%;}
    .vcomment { flex-grow: 4; flex-shrink: 1; flex-basis: 75%;}
  }
  a { font-size: 14px; text-decoration: none; flex-grow: 1; display: flex; justify-content: space-between;}
  a>* { padding: 5px 8px; display: flex; align-items: center;}
}
.version-date { width: 95px; color: #000; line-height: 1em; flex-shrink: 0;}
.version-status { font-size: 11px; font-weight: bold; color: #FFF; background-color: #000; width: 45px;
  &.ok { background-color: #183;
    &:before { content: "OK";}
    &.old { background-color: #040;}
  }
  &.nok { background-color: #911;
    &:before { content: "NOK";}
  }
  &.wip { background-color: #e82;
    &:before { content: "WIP";}
  }
}
.version-comment { font-size: 10px; color: #679; background-color: rgba(0,0,0,.04); border-left: 1px solid #fff; flex-grow: 1; flex-shrink: 1;}


@media (min-width: 600px) {
  .form-components { padding: 10px 20px 15px; display: flex;
    h4 { padding: 10px 20px 10px 0; margin: 5px 20px 0 0; border-bottom: none; border-right: 1px solid #aaa;}
    form { flex: 4;}
  }
  .header img { max-width: 130%; top: -140px; left: 0;}
  .partner-badge { margin: 0 0 10px; flex: 0 1 47%;}
}
@media (min-width: 768px) {
  .section:not(.section-row) { width: 48%;}
  .header img { max-width: 130%; top: -200px;}
  .partner-badge { flex-basis: 30%;}
  .version-status { font-size: 0; max-width: 0; transition: all .2s ease-in-out;
    .version:hover & { font-size: 11px; max-width: 45px;}
  }
}
@media (min-width: 992px) {
  .header img { max-width: 130%; top: -300px;}
  .partner-badge { flex-basis: 22%;}
}
@media (min-width: 1200px) {
  .header img { max-width: 110%; top: -300px;}
}
@media (min-width: 1400px) {
  .section:not(.section-row) { width: 31%;}
  .partner-badge { flex-basis: 18%;}
}
